
body{
    font-family: 'Poppins', sans-serif;
}

/* Navigation Bar AT The Top */
.navigation-bar{
    float: right;
    margin-right: 200px;
    height: 100px;
}

.navigation-bar a{
    font-size: 20px;
    margin-left: 100px;
    float: right;
    font-weight: 600;
    color: darkslategrey;
    text-decoration: none;
}
/* Navigation Bar Ends */

h1{
    font-size: 70px;
    margin-top: 0px;
}

h2{
    font-size: 60px;
}

h3{
    font-size: 40px;
}

h4{
    font-size: 25px;
}

p{
    font-size: 20px;
    color:darkgray;
    text-align: justify;
    margin-bottom: 50px;
}

.header{
    font-family: 'Poppins', sans-serif;
    color: darkslategrey;
    margin-bottom: 10px;
}

.text-part{
    margin-top: 100px;
}

.orange-highlight{
    color: tomato;
}
.half-width{
    width: 35%;
    margin-left: 5%;
    padding: 1% 2%;
    float: left;
}

.one-third-width{
    width: 25%;
    float: left;
    margin: 2%;
    height: 300px;
}

.one-third-width img{
    width: 100%;
}

.half-width img{
    width: 100%;
}

.hello-part{
    height: 500px;
    margin-top: 50px;
}

.about-part{
    margin-top: 50px;
}

.about-part img{
    margin-top: 100px;
}

.text-part{
    margin-top: 10%;
}

.click-button{
    text-decoration: none;
    font-size: 20px;
    background-image: linear-gradient(45deg, lightsalmon, tomato);
    padding: 3% 7%;
    color: white;
    border-radius: 10px;
    margin-top: 50px;
}

#central-text{
    text-align: center;
    color: lightslategrey;
}

.grey-part{
    clear:both;
    margin-top: 200px;
    padding: 10% 5%;
    height: 700px;
    background-color: #F0F8FF;
}

.one-third-width{
    width: 25%;
    box-shadow: 10px 10px 40px gray;
    background-color: white;
    border-radius: 20px;
    float: left;
    height: 400px;
    padding: 1% 2%;
}


.project-part{
    margin-left: 5%;
    height: 500px;
    float: left;
}

.white-part{
    height: 1500px;
}

.white-part img{
    width: 100%;
}

.inquiry-part{
    background-image: url("shapes/Group_33094_1.png");
    background-repeat: no-repeat;
    width: 70%;
    float: left;
    color: white;
    margin: 5% 15%; 
    border-radius: 10px;
    height: 400px;
    background-size: 90%;
}

.inquiry-part h2{
    float: left;
    padding: 5%;
    width: 50%;
}

.inquiry-part a{
    float: left;
    margin: 7%;
}

.blue-part{
    height: 30%;
    width: 100%;
    float: left;
}

.ending-part{
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;
    height: 300px;
    padding-top: 100px;
    margin-bottom: 50px;
}

.ending-part p{
    text-align: center;
    font-weight: bolder;
    color: darkslategray;
}

.icons-part{
    float: left;
    width: 100%;
}

.icons-part img{
    width: 8%;
    margin: 5px 15px;
}

.review-part{
    height: 500px;
    clear: both;
    background-color: #1A91DA;
    width: 70%;
    margin-left: 15%;
    margin-bottom: 10%;
    border-radius: 20px;
}

.review-text{
    padding-top: 10px;
    margin-bottom: 100px;
}

.review-part h2{
    margin-top: 50px;
    text-align: center;
    color: white;
}

.review-part p{
    text-align: justify;
    width: 50%;
    margin-left: 25%;
    margin-bottom: 50px;
    font-size: 20px;
    color: whitesmoke;
}

.review-part a{
    margin-top: 50%;
    margin-left: 35%;
    padding: 2% 5%;
}

.review-part address{
    margin-left: 25%;
    color: lightgoldenrodyellow;
    margin-bottom: 20px;
    clear: both;
}

#reviewer-name{
    color: yellow;
}

.footer{
    margin-left: 36%;
}