body{
    font-family: 'Roboto', sans-serif;
}
h1{
    font-size: 80px;
    margin-top: 0px;
}

h2{
    font-size: 60px;
}

h3{
    font-size: 40px;
}

h4{
    font-size: 25px;
}

p{
    font-size: 20px;
    color: gray;
    text-align: justify;
    margin-bottom: 50px;
}

.header{
    font-family: 'Roboto', sans-serif;
    color: navy;
}

.orange-highlight{
    color: tomato;
}
.half-width{
    width: 35%;
    margin-left: 5%;
    padding: 1% 2%;
    float: left;
}

.one-third-width{
    width: 25%;
    float: left;
    margin: 2%;
    height: 300px;
}

.one-third-width img{
    width: 100%;
}

.half-width img{
    width: 100%;
}

.hello-part{
    height: 500px;
}

.text-part{
    margin-top: 10%;
}

.click-button{
    text-decoration: none;
    font-size: 20px;
    background-image: linear-gradient(45deg, lightsalmon, tomato);
    padding: 3% 7%;
    color: white;
    border-radius: 10px;
    margin-top: 50px;
}

#central-text{
    text-align: center;
}

.grey-part{
    clear:both;
    margin-top: 200px;
    padding: 10% 5%;
    height: 500px;
    background-color:#e6ecf5;
}

.one-third-width{
    width: 25%;
    border: 1px solid white;
    border-radius: 10px;
    background-color: white;
}

.project-part{
    margin-left: 15%;
    margin-right: 5%;
    height: 300px;
    
}

.white-part{
    height: 1500px;
}

.inquiry-part{
    background-image: url("shapes/Group_33094_1.png");
    height: 300px;
    width: 50%;
    color: white;
    margin: 15%;
    border-radius: 10px;
}

.blue-box-content1{
    width: 70%;
    float: left;
    padding: 10% 2%;
}

.blue-box-content2{
    width: 20%;
    float: left;
    padding: 10% 2%;
}
